---
http_interactions:
- request:
    method: get
    uri: https://www.tcmb.gov.tr/kurlar/20220209/0909202202.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: "\n\n\t        <html lang=\"tr\"><head><title>Sayfa Goruntulenemedi
        - Page Not Found</title>\n            <meta charset=\"utf-8\"><meta content=\"width=device-width,
        initial-scale=1\" name=\"viewport\">\n            <link rel=\"StyleSheet\"
        href=\"https://www.tcmb.gov.tr/hata/hata.css\" type=\"text/css\">\n            <script
        src=\"https://www.tcmb.gov.tr/hata/hata.js\" type=\"text/javascript\"></script></head><body><div
        class=\"error-box\" align=\"left\">\n            <img class=\"logo-image\"
        align=\"absmiddle\" src=\"https://www.tcmb.gov.tr/hata/Logo.png\">\n            <div
        class=\"error-title\"> Sayfa G&#246;r&#252;nt&#252;lenemedi - Page Not Found
        </div>\n            <div class=\"error-desc\"> Arad&#305;&#287;&#305;n&#305;z
        sayfa ta&#351;&#305;nm&#305;&#351;,ismi de&#287;i&#351;tirilmi&#351; veya
        ge&#231;ici olarak hizmet d&#305;&#351;&#305;na al&#305;nm&#305;&#351; olabilir.</div>\n
        \           <ul><li>Yazm&#305;&#351; oldu&#287;unuz adresi tekrar kontrol
        ediniz</li>\n            <li><a href=\"https://www.tcmb.gov.tr\"><strong>www.tcmb.gov.tr</strong></a>
        ana sayfas&#305;na d&#246;nebilirsiniz.</li>\n            <li><img class=\"back-image\"
        src=\"https://www.tcmb.gov.tr/hata/back.gif\"><a href=\"javascript:history.back(1)\">
        Back</a> simgesine basarak bir &#246;nceki sayfaya d&#246;nebilirsiniz.</li></ul>\n
        \           <div class=\"error-desc\">The page you are looking for might be
        removed, have its name changed, or is temporarily unavailable.</div>\n            <ul><li>Make
        sure that the page adress is spelled correctly.</li>\n            <li>Go back
        to <a href=\"https://www.tcmb.gov.tr\"><strong>www.tcmb.gov.tr</strong></a>
        home page.</li> \n            <li><img class=\"back-image\" src=\"https://www.tcmb.gov.tr/hata/back.gif\">
        Click <a href=\"javascript:history.back(1)\">Back</a> button to try anotherlink.</font></li>\n
        \           </ul><p></div></body></html>\n\n\t"
  recorded_at: Mon, 14 Feb 2022 16:27:19 GMT
recorded_with: VCR 6.0.0
